# On Windows it is important to keep unix-style line endings in all egs/ files.
egs/**             eol=lf

# Windows props
windows/*.props    eol=crlf
windows/generate_solution.pl  eol=native
windows/INSTALL*   eol=native
windows/NewGuidCmd.exe.config text eol=crlf
windows/NewGuidCmd.exe binary


